body, html {
  font-family: 'Arial', sans-serif;
  color: #333;
}

body {
  background-color: #F5F5F5; /* Replace with your desired color */
}
.App {
  text-align: center;
}

#PostCardDiv {
  border: 1px white;
  padding: 20px;
  margin-top: 50px;
  background: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 2vw;
}

#WorkoutCardDiv {
  border: 1px white;
  padding: 20px;
  margin-top: 50px;
  background: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#UserCard {
  border: 1px white;
  width: 300px;
  text-align: justify;
  background: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#UserCard button {
  background-color: #09b6fe; /* A nice blue color */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Some padding */
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
  text-decoration: none; /* Remove underline from the text */
  font-size: 1em; /* Set font size */
}

#UserCard button:hover {
  background-color: #065b8e; /* A darker blue color when hovering */
}

.post-card-gen {
  margin: 2rem;
  padding: 20px;
  background: #FFF0;
 
}

.workout-card-gen {
  margin: 2rem;
  padding: 20px;
  background: #FFF0;
}

.user-card-gen {
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.workout-card-gen {
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-card-gen {
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #FFF;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #F5F5F5;
}

/* #forum-post-bar {
  border: 1px white;
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#forum-user-bar {
  border: 1px white;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#forum-workout-bar {
  border: 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} */

#profile-user-bar {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
}

#profile-post-bar {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
}

#user-user-bar {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

#user-post-bar {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

#user-workout-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

.pfp {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-right: 10px;
}

.msg {
  text-align: justify;
  margin: 2rem;
  text-align: left;
}

#like:hover {
  color:#065b8e;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  color: black;}

.btn {
  border: none;
  color: #000;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fff0;
  border-radius: 4px;
  padding: 8px 15px;
  margin: 0 10px;
}

.like-active {
  background-color: #09b6fe;
  color: black;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.exercise-item {
  flex: 1 0 21%; 
  margin: 20px 40px; 
}

.workout-card {
  margin: 10px;
  padding: 10px;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #F5F5F5;
  padding: 0 20px;
}

.post-card-gen, .workout-card-gen {
  margin: 0 10px; /* Add horizontal margin */
}

.workout-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.workout-table th, .workout-table td {
  border: 2px solid #003789; 
  padding: 5px;
}

a {
  color: #469ace; /* Change the color of the link */
  text-decoration: none; /* Remove the underline */
}

a:hover {
  text-decoration: underline; /* Add a hover effect to all links */
}


.comment-button {
  background-color: #09b6fe; /* A nice blue color */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 18px; /* Rounded corners */
  padding: 8px 16px; /* Some padding */
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.delete-button {
  background-color: #0074a5; /* A nice blue color */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 18px; /* Rounded corners */
  padding: 8px 16px; /* Some padding */
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.comment-button:hover {
  background-color: #065b8e; /* A darker blue color when hovering */
}

.comment-container {
  display: flow-root; /* Align children in a row */
  justify-content: space-between; /* Space between the name and the comment */
  align-items: center; /* Center align vertically */
  padding: 10px 0; /* Some padding top and bottom */
  border-bottom: 1px solid #ddd; /* A light border at the bottom */
}

.commenter {
  display: flow-root;
  text-align: left;
  font-weight: bold; /* Make the name bold */
  flex: 1; /* Take up remaining space */
}

.comment {
  flex: 3; /* Take up remaining space */
  text-align: left;
}

.StatCard {
  border: 1px solid #ddd; /* A light border */
  border-radius: 4px; /* Rounded corners */
  padding: 20px; /* Some padding */
  margin-bottom: 20px; /* Some space below the card */
  background-color: #f9f9f9; /* A light background color */
  width: 300px; /* Set a fixed width */
  box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* A light shadow */
}

.StatCard table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Collapse borders */
}

.StatCard th, .StatCard td {
  border: 1px solid #ddd; /* Add a border */
  padding: 10px; /* Some padding */
}

.StatCard td:first-child {
  font-weight: bold; /* Make the first column bold */
  color : #09b6fe;
}

.follow-button {
  background-color: #09b6fe; /* A nice blue color */
}

.following-button {
  background-color: #065b8e; /* A darker blue color */
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.log-button-container {
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
}

.comment-container {
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.comment-box {
  width: 100%; /* Full width */
  padding: 15px; /* Some padding */
  box-sizing: border-box; /* Make sure padding doesn't increase the total width */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 18px; /* Rounded corners */
  background-color: #f8f8f8; /* Light gray background */
  resize: vertical; /* Allow the user to resize the textarea vertically */
  font-size: 1em; /* Set font size */
  margin-bottom: 10px; /* Add some margin at the bottom */
}

.log-workout-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.log-workout-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.log-workout-container form {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}

.exercise-list {
  margin-bottom: 20px;
}

.exercise-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.exercise-item label {
  margin-bottom: 10px;
}

.exercise-item input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top:10px;
}

button:not(:last-child) {
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



/* Styles for the dropdown button */
.navbar .dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: left;
  text-align: center;
  margin-bottom: 9px;
  font-weight: bold;
}

/* Styles for the dropdown menu container */
.navbar .dropdown-menu {
  display: none; /* Initially don't display the dropdown */
  flex-direction: column;
  position: absolute;
  top: 100%; /* Position it below the dropdown button */
  left: 0;
  background-color: #333; 
  min-width: 160px; /* Minimum width of the dropdown */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
  border-radius: 4px; /* Rounded corners */
  padding: 0.5rem 0; /* Padding inside the dropdown */
}

/* Styles for each dropdown item */            
.navbar .dropdown-item {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

/* Hover state for dropdown items */
.navbar .dropdown-item:hover {
  background-color: #474747; /* Dark grey background for item hover */
}

/* Separator style */
.navbar .dropdown-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: #474747;
}

/* Display the dropdown menu when hovering over the dropdown button */
.navbar li:hover > .dropdown-menu {
  display: flex;
}

.navbar ul {
  align-items: center;
  position: relative; /* Needed for absolute positioning of dropdown */
}

input[type="text"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}


/* Hide the default file input */
input[type="file"] {
  display: none;
}

/* Style the label to look like a button */
.upload-button {
  background-color: #09b6fe;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}


.upload-button:hover {
  background-color: #0056b3;
}

.create-button {
  font-size: 16px;
  padding: 11px;
}

body {
  font-family: Arial, sans-serif;
}

.about {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #05468b;
  text-align: center;
}

h2 {
  color: #0355ae;
  margin-top: 20px;
}

h4 {
  color: #00254d;
  margin-top: 10px;
  font-style: italic;
}

p {
  text-align: justify;
  line-height: 1.6;
}

.msg {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.date {
  color: #999;
  font-size: 14px;
}

.search-button:hover {
  background-color: inherit;
  color: inherit;
}

.upload-img {
  max-width: 60%; /* This will make sure the image doesn't go beyond its container */
  height: auto; /* This will maintain the aspect ratio of the image */
  display: block; /* This will remove any unwanted space around the image */
  margin: 0 auto; /* This will center the image horizontally if its width is less than its container's width */
  border-radius: 5px; /* This will give the image rounded corners */
}

.input-title {
  max-width: 60%; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}

.textarea-content {
  max-width: 80%; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
}

#create-account-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#create-account-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#create-account-form {
  display: flex;
  flex-direction: column;
}

.form-section {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-input:focus {
  outline: none;
  border-color: #000000;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

input:focus {
  border-color: #000000;
  box-shadow: 0 0 5px #6c63ff;
}