body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navbar li:active {
  background-color: #555;
}

.navbar li:hover {
  background-color: #777;
}

#LoginForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #121735;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backdrop {
  z-index: 1;
  position: absolute;
  top: 0vh;
  bottom: 0vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(18, 23, 53, 0.5);
  opacity: 0.95;
  backdrop-filter: blur(10px);
}


#LoginModal {
  z-index: 2;
  background-color: rgba(18, 23, 53, 0.9);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #41a38a;
}

#loginText {
  font-size: 2em;
  font-weight: bold;
}

#loginError {
  font-size: 0.8em;
  color: red;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#modalInputs input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  opacity: 0.7;
}

#modalInputs input:focus {
  opacity: 1;
}

#modalButtons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#modalButtons button {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgba(65, 163, 138, 0.8);
  width: 100%;
  margin-bottom: 10px;
}

#modalButtons button:first-of-type {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
}

#modalButtons button:last-of-type {
  background-color: transparent;
  color: #4CAF50;
  padding: 5px 0;
}



.search-input {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}



.search-button{
  background-color:transparent;
  border: none;
}

.search-button img{
  width: 20px;       /* Width of the image */
  height: 20px;      /* Height of the image */
  
}

